/* ----------------------------------------------------------------------------------------------- */
/* Definimos el estilo particular de la página de Cabañas */



.contenedor_cabanas{
    width: 95%;
    /* max-width: 1000px; ancho máximo de la página */
    margin: 5px auto; /*auto permite centrar nuestra página en forma horizontal*/
    display: grid;
    gap: 20px; /*nos ahorramos tenes que poner márgenes entre los elementos*/

    /*3 columnas: contenido (con 2 widgets) + sidebar*/
    grid-template-columns: repeat(3,1fr);

    /*4 filas: header, contenido, widgets, footer*/
    grid-template-rows: repeat(5, auto);

    grid-template-areas: "encabezado menu menu"
                         "presenta_1 presenta_1 presenta_1"
                         "presenta_2 presenta_2 presenta_2"
                         "contacto contacto contacto"
                         "pie pie pie";
}


.contenedor_cabanas .encabezado{
    background: rgb(235, 209, 160);
    color: #000;
    grid-area: encabezado; 
    padding: 10px;
    text-align: center;
}

.contenedor_cabanas .menu{
    background: rgb(235, 209, 160);
    color: #000;
    grid-area: menu; 
    padding: 10px;
    text-align: center;
}

.contenedor_cabanas .presenta_1{
    background: rgb(230, 240, 243);
    color: #000;
    grid-area: presenta_1; 
    padding: 10px;
    text-align: center; 
}

.contenedor_cabanas .presenta_2{
    background: rgb(202, 233, 227);
    color: #000;
    grid-area: presenta_2; 
    padding: 10px;
    text-align: center;
}

.contenedor_cabanas .cabañas{
    background: rgb(141, 237, 143);
    color: #000;
    grid-area: cabañas; 
    padding: 10px;
    text-align: center;
}

.contenedor_cabanas .entorno{
    background: rgb(141, 237, 143);
    color: #000;
    grid-area: entorno; 
    padding: 10px;
    text-align: center;
}

.contenedor_cabanas .contacto{
    background: rgb(230, 240, 243);
    color: #000;
    grid-area: contacto;
    padding: 10px;
    text-align: center;
}

.contenedor_cabanas .pie{
    background: rgb(202, 233, 227);
    color: #000;    
    grid-area: pie; 
    padding: 10px;
    text-align: center;
}

@media screen and (max-width: 768px){
    .contenedor_cabanas{
        grid-template-areas: "encabezado encabezado encabezado"
                             "menu menu menu"
                             "presenta_1 presenta_1 presenta_1"
                             "presenta_2 presenta_2 presenta_2"
                             "contacto contacto contacto"
                             "pie pie pie";
    }
}

@media screen and (max-width: 450px){
    .contenedor_cabanas{
        grid-template-areas: "encabezado encabezado encabezado"
                             "menu menu menu"
                             "presenta_1 presenta_1 presenta_1"
                             "presenta_2 presenta_2 presenta_2"
                             "contacto contacto contacto"
                             "pie pie pie";
    }
}