/* ----------------------------------------------------------------------------------------------- */
/* Definimos el estilo particular de la página de Contacto */

body{
    background: rgb(230, 230, 230);
    color: #000;
    font-family: 'Roboto', sans-serif;
}

.contenedor_contacto{
    width: 95%;
    /* max-width: 1000px; ancho máximo de la página */
    margin: 5px auto; /*auto permite centrar nuestra página en forma horizontal*/
    display: grid;
    gap: 4px; /*nos ahorramos tenes que poner márgenes entre los elementos*/

    /*3 columnas: contenido (con 2 widgets) + sidebar*/
    grid-template-columns: repeat(3,1fr);

    /*4 filas: header, contenido, widgets, footer*/
    grid-template-rows: repeat(5, auto);

    grid-template-areas: "encabezado menu menu"
                         "presenta_1 presenta_1 presenta_1"
                         "formulario formulario formulario"
                         "ubicacion mapa mapa"
                         "pie pie pie";
}


.contenedor_contacto .encabezado{
    background: rgb(255, 255, 255);
    color: #000;
    grid-area: encabezado; 
    padding: 0px;
    text-align: center;
}

.contenedor_contacto .menu{
    background: rgb(255, 255, 255);
    color: #000;
    grid-area: menu; 
    padding: 10px;
    text-align: end;
    padding-left: 10%;
    letter-spacing: 0.1em;
}


.contenedor_contacto .presenta_1{
    background: rgb(230, 240, 243);
    color: #000;
    grid-area: presenta_1; 
    padding: 10px;
    text-align: center; 
}

.contenedor_contacto .presenta_2{
    background: rgb(202, 233, 227);
    color: #000;
    grid-area: presenta_2; 
    padding: 10px;
    text-align: center;
}

.contenedor_contacto .cabañas{
    background: rgb(141, 237, 143);
    color: #000;
    grid-area: cabañas; 
    padding: 10px;
    text-align: center;
}

.contenedor_contacto .entorno{
    background: rgb(141, 237, 143);
    color: #000;
    grid-area: entorno; 
    padding: 10px;
    text-align: center;
}

.contenedor_contacto .formulario{
    background: rgb(202, 233, 227);
    color: #000;
    grid-area: formulario;
    padding: 15px;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif   
}

.contenedor_contacto .ubicacion{
    background: rgb(230, 240, 243);
    color: #000;
    grid-area: ubicacion;
    padding: 20px;
    text-align: left;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif  
}

.contenedor_contacto.campo {
    margin-bottom: 10px;
  }
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    width: 60%;
    padding: 5px;
    border: 1px solid #a5a9df;
    border-radius: 3px;
  }
  

  .contenedor_contacto .mapa{
    background: rgb(230, 240, 243);
    color: #000;
    grid-area: mapa;
    padding: 10px;
    text-align: center;
}

.contenedor_contacto .pie{
    background: rgb(202, 233, 227);
    color: #000;
    grid-area: pie; 
    padding: 10px;
    text-align: center;
}


@media screen and (max-width: 768px){
    .contenedor_contacto{
        grid-template-areas: "encabezado encabezado encabezado"
                             "menu menu menu"
                             "presenta_1 presenta_1 presenta_1"
                             "formulario formulario formulario"
                             "ubicacion mapa mapa"
                             "pie pie pie";
    }
}

@media screen and (max-width: 450px){
    .contenedor_contacto{
        grid-template-areas: "encabezado encabezado encabezado"
                             "menu menu menu"
                             "presenta_1 presenta_1 presenta_1"
                             "formulario formulario formulario"
                             "ubicacion mapa mapa"
                             "pie pie pie";
    }
}

